@media (min-width: 601px) and (max-width: 1024px) {
    body {
        background-color: rgb(197, 238, 144);
        color: black;
        font-family: Georgia, 'Times New Roman', Times, serif;
        margin: 0;
        padding: 0;
    }
}